<h3 class="text-center text-capitalize">All Cards</h3>
<br>
<div class="row">
    <div class="col">
        <table class="table border shadow">
            <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Card Owner</th>
                    <th scope="col">Card Number</th>
                    <th scope="col">Expiry Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let PaymentDetails of collection;index as i">
                    <td scope="row">{{i+1}}</td>
                    <td scope="row">{{PaymentDetails.username}}</td>
                    <td scope="row">{{PaymentDetails.cardnumber}}</td>
                    <td scope="row">{{PaymentDetails.date}}</td>
                    <td scope="row"><i (click)="deleteCard(PaymentDetails.id)" class="fa fa-trash"
                            style="font-size:20px;color:red;">
                        </i>
                        <a routerLink="/UpdateCard/{{PaymentDetails.id}}">
                            <i class="fa fa-edit px-3" style="font-size:20px;color:blue;"></i>
                        </a>
                        <!-- <a >
                            <i class="fa fa-edit px-3" style="font-size:20px;color:blue;"  data-toggle="modal" data-target="#cardmodal"></i>
                        </a> -->
                        <!-- <button data-toggle="modal" data-target="#cardmodal">test</button> -->
                    </td>
                   

                </tr>
            </tbody>
        </table>
    </div>
</div>



