<a routerLink="/home">Go back to the home</a>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> your data has been updated Successfully
    <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="card p-3" style="align-items: center">
    <h3 >Edit Card Details</h3>

    <!-- <h1 class="text-center text-capitalize">Add User</h1> -->
    <div class="w-50 mx-auto">
        <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
            <!-- <div formGroupName="UserDetails"> -->

            <div class="form-group">
                <label for="username">Enter your user name</label>
                <input type="text" class="form-control" id="name" autocomplete="off" placeholder="Enter your username"
                    formControlName="username" maxlength="30"/>
                <!-- <small class="text-danger"
                        *ngIf="!myReactiveForm.get('UserDetails.username')?.valid && myReactiveForm.get('UserDetails.username')?.touched">Please
                        enter valid username </small> -->
                <small class="text-danger"
                    *ngIf="!myReactiveForm.get('username')?.valid && myReactiveForm.get('username')?.touched">Please
                    enter valid username </small>
            </div>
   



    <div class="form-group">
        <label for="cardnumber">Cardnumber</label>
        <input type="text" class="form-control" id="cardnumber" autocomplete="off" formControlName="cardnumber"
            placeholder="16 Digits Card Number" />

        <small class="text-danger"
            *ngIf="!myReactiveForm.get('cardnumber')?.valid && myReactiveForm.get('cardnumber')?.touched">Please
            enter valid card number </small>

    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="securitycode">CVV</label>
                <input type="password" class="form-control" id="securitycode" formControlName="securitycode"
                    placeholder="3 Digits CVV" />
                <small class="text-danger"
                    *ngIf="!myReactiveForm.get('securitycode')?.valid && myReactiveForm.get('securitycode')?.touched">Please
                    enter valid CVV number </small>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="date">Valid Through</label>
                <input type="text" class="form-control" id="date" autocomplete="off" formControlName="date" placeholder="MM/YY"/>
                <small class="text-danger"
                    *ngIf="!myReactiveForm.get('date')?.valid && myReactiveForm.get('date')?.touched">Please
                    Enter Valid Date</small>
            </div>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" [disabled]="!myReactiveForm.valid" style="width: 100%;">Update</button>
    </form>
</div>
</div>