<div class="container">


  <div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('../assets/card.jpg');
    height: 300px;
  ">
    <div class="mask">
      <div class="d-flex justify-content-right align-items-right ">
        <div  >
          <h1 class="mb-3 display-4">Payment Details</h1>
          <h4 class="mb-3">A Better Way to Spend</h4>
        </div>
      </div>
    </div>
    <div class="hidden">
      <h3>Keep every transaction white and welcome the cashless vibe!</h3>
    </div>

  </div>

  
  <!-- <div class="row bg-light">
  <br>
    <div class="col-md-6">

      <app-add-card></app-add-card>
    </div>
    <div class="col-md-6">
      <app-view-card></app-view-card>
    </div> 

  </div> -->

  <router-outlet></router-outlet>

</div>





